* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

main {
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(134, 243, 181);
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  margin-right: 20px;
}

img {
  width: 100%;
}

#difficult {
  margin: 0 20px;
}

#difficult, button {
  padding: 5px 10px;
  cursor: pointer;
}

.container {
  width: 500px;
  height: 500px;
  background-color: white;
}

.default-text {
  text-align: center;
  font-size: 30px;
  display: none;
}

.square {
  float: left;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square.hard {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square.crazy {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.square.clicked {
  background-color: rgb(94, 176, 243);
}