* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 100px;
}

main {
  height: calc(100vh - 150px);
  background-color: rgb(134, 243, 181);
}

footer {
  height: 50px;
}

.logo-image {
  width: 60px;
  margin-right: 20px;
}

img {
  width: 100%;
}

#difficult {
  margin: 0 20px;
}

.gs-container {
  width: 500px;
  height: 500px;
  background-color: white;
}

.gs-container.gs-block {
  display: block;
}

.default-text {
  font-size: 30px;
}

.default-text.gs-none {
  display: none;
}

.square {
  float: left;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square.hard {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square.crazy {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.square.clicked {
  background-color: rgb(94, 176, 243);
}